html,body {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow: hidden;
   
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.login {
    grid-column: 1;
    grid-row: 1;

    z-index: 11;
    width: 100%;
    height: 100%;

    display: flex;
    flex-flow: column;
    background-color: white;

    
	align-content: center;
	justify-content: center;
}

    .login .loginForm {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;

        width: 300px;
        max-height: 500px;
        height: 40%;
        align-self: center;

        border-radius: 5px;        
        background-color: #333333;

        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    }

    .login .loginLogo {
        width: 100px;
        height: 100px;

        background-image: url('/img/phone.svg');
        background-size: contain;
        background-repeat: no-repeat;
        
    }

    .login .usernameInput {
        height: 30px;
        width: 200px;
        text-align: center;

        color: #333333;

        font-size: 16pt;

        caret-color: lightgrey;
        opacity: .8;

    }  

    .login span {
        width: 200px;
        margin-top: 20px;
    }

    .login .langSelect {
        height: 25px;
        width: 80px;

        font-size: 11pt;

        opacity: .8;        
        border: none;
        color: darkgray;
    }


    .login .connectButton {
        height: 25px;
        width: 80px;
        margin: 0;

        font-size: 11pt;
        float: right;



        border: none;
        border-radius: 2px;
        color: white;
        background-color: cornflowerblue;
        
    }

    .login .connectButton:hover {
        background-color: #7B9EDD;

    }

    .login .connectButton:active {
        background-color: #467FE8

    }

.view {
    grid-column: 1;
    grid-row: 1;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    width: 100%;
    height: 100%; 
}

#transcriptContainer {
    z-index:10;
    background-color: rgba(34, 33, 33, 0.6);
    grid-column: 1;
    grid-row: 1;
    align-self: flex-end;
    justify-self: center;
    overflow: hidden;
    clear: both;
    width: 100%;
  }
  
  #transcript {
    color: white;
    font-size: 20px;
    width: 100%;
    -webkit-transition: transform .3s;
    transition: transform .3s;
    line-height: 2.0em;
    font-family: Helvetica, sans-serif;
    text-align:center;
  }

  #measure {
    display: block;
  }

.partnerInfo {
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
    align-self: start;
    justify-self: center;
    color: white;
    font-family: Helvetica, sans-serif;
    opacity: .8;
    font-size: 18px;
}

.waiting {
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    justify-self: center;
    color: white;
    font-family: Helvetica, sans-serif;
    opacity: .5;
}

    .waiting.hidden {
        display:none;
    }

.callButton {
    z-index: 10;
    grid-column: 1;
    grid-row: 1;
    align-self: flex-start;

    margin: 20px;
    height: 50px;
    width: 50px;

    background-image: url('/img/phone.svg');
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: 50% 45%;
    border: none;
    border-radius: 25px;
    outline: none;

    background-color: green;
    transform: rotateZ(-45deg);
}

    .callButton:hover {
        background-color: rgba(0,128,0, .8);
    }

    .callButton:active {
        background-color: rgb(0,200,0);
    }

    .callButton.hangup {
        background-color: rgb(180,0,0);
        transform: rotateZ(0);
    }

    .callButton.hangup:hover {
        background-color: rgba(200,0,0, .8);
    }

    .callButton.hangup:active {
        background-color: rgb(255,0,0);
    }


    .callButton:disabled {
        background-color: grey;
        opacity: 0;
    }

.localVideo {
    grid-column: 1;
    grid-row: 1;
    transform: scaleX(-1);
    height: 15vw;
    justify-self: end;
    align-self: flex-start;
}

.remoteVideo {
    grid-column: 1;
    grid-row: 1;
    object-fit: cover;
    color: white;
    background-color: black;  
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 100;
    letter-spacing: 1px;
}

.info {
    size: 9pt;
    color: gray;
}

.status {
    display: none;
    grid-column: 1;
    grid-row: 1;

    background-color: darkgrey;
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.status.online {
    background-color: lime;

}

.audioPlayer {
    display: none;
}

.screenshotCanvas {
    display: none;
}